{{define "title"}}{{.SiteTitle}}: {{.Bookmark.Title}}{{end}}

{{define "content"}}
{{with $bookmark := .Bookmark}}
    <form class="" id="bookmark-edit" method='POST'>
    {{ $.CSRFField }}
    {{with $.Form}}
      {{with .Errors.Get "generic"}}
        <div class="notification is-danger">
          <button class="delete"></button>
          {{.}}
        </div>
      {{end}}
      <input type='hidden' name='id' value='{{$.Bookmark.ID}}'>

      <div class="field">
        <label class="label">Title</label>
        {{with .Errors.Get "title"}}
            <div class="has-text-danger">{{.}}</div>
        {{end}}
        <input class="input" type="text" name="title" value="{{$.Bookmark.Title}}" autofocus="autofocus">
      </div>

      <div class="field">
        <label class="label">URL</label>
        {{with .Errors.Get "url"}}
            <div class="has-text-danger">{{.}}</div>
        {{end}}
        <input class="input" type="text" name="url" value="{{$.Bookmark.URL}}" autofocus="autofocus">
      </div>

      <div class="field">
        <label class="label">Tags</label>
          <div class="control">
            <select multiple name="tags" data-type="tags" data-placeholder="Choose Tags">
              {{range $.Options}}
              <option {{if .Selected}}selected{{end}}>{{.Value}}</option>
              {{end}}
            </select>
          </div>
      </div>

      <div class="field">
        <input class="button is-success" type="submit" value="Update">
      </div>
    {{end}}
    </form>
{{end}}
{{end}}
