{{define "title"}}{{.SiteTitle}} - Home{{end}}

{{define "content"}}
  {{if .Bookmarks}}
      <ul>
      {{range .Bookmarks}}
        <li><a href="/app/bookmark/{{.ID}}" class="is-size-1-desktop" alt="{{.Title}}">{{.Title}}</a> <time datetime="{{.CreatedAt}}">{{.CreatedAt | humanDate}}</time>
        {{if .Tags}}
           <div class="tags">
          {{range .Tags}}
            <span class="tag is-dark">{{.Name}}</span>
          {{end}}
          </div>
        {{end}}
        </li>
      {{end}}
      </ul>
  {{else}}
      <article class="tile is-child notification">
        <p>There's nothing to see here...yet</p>
      </article>
  {{end}}
{{end}}
