{{define "title"}}{{.SiteTitle}} - Home{{end}}

{{define "content"}}
  {{if .Bookmarks}}
      {{range .Bookmarks}}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <a href="{{.URL}}" target="_blank" alt="{{.Title}}">{{.Title}}</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{.Content}}
          <br>
          <time datetime="{{.CreatedAt}}">{{.CreatedAt | humanDate}}</time>
        </div>
      </div>
      <footer class="card-footer">
        <a href="/app/bookmark/{{.ID}}" class="card-footer-item">View</a>
      </footer>
    </div>
      {{end}}
  {{else}}
      <article class="tile is-child notification">
        <p>There's nothing to see here...yet</p>
      </article>
  {{end}}
{{end}}
