{{define "title"}}{{.SiteTitle}}: {{.Bookmark.Title}}{{end}}

{{define "content"}}
<section id="content">
    {{with .Bookmark}}
    <h2 class="title is-2"><a href="{{.URL}}" target="_blank" alt="{{.Title}}">{{.Title}}</a></h2>
    <p class="subtitle is-4"><time class="has-text-grey" datetime="{{.CreatedAt}}">{{.CreatedAt | humanDate}}</time><p>
      {{if .Tags}}
      <div class="tags">
        {{range .Tags}}
          <span class="tag is-link is-normal is-light">
            {{ .Name }}
          </span>
        {{end}}
      </div>
      {{end}}
      <div class="content">
      {{.Content}}
      </div>
      <br>
      <a href="/app/bookmark/{{.ID}}/edit" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item">Delete</a>
    {{end}}
</section>
{{end}}
